{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    {% if messages %}
    <div class="container mt-4">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
    <h2 class="my-4">Lista de Instrumentos</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome do Instrumento</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for instrumento in instrumentos %}
          <tr>
            <td>{{ instrumento.nome }}</td>
            <td>
              <a class="btn btn-info" href="{% url 'nuarte:detalhes_instrumento' instrumento.id %}">Detalhes</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="Page navigation example" style="margin-top: 40px;">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Primeira">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
          <li class="page-item{% if num == page_obj.number %} active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Próxima">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Última">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <style>
    /* Adicione estilos personalizados aqui */
    .container {
      max-width: 100%;
    }

    table {
      width: 100%;
      margin-bottom: 20px;
    }

    th, td {
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #007bff;
      color: #fff;
    }

    tbody tr:nth-child(even) {
      background-color: #f8f9fa;
    }

    .pagination {
      margin-top: 20px;
    }

    .pagination li {
      display: inline-block;
      margin-right: 5px;
    }

    .pagination li.active a {
      background-color: #007bff;
      border-color: #007bff;
    }

    .pagination li a {
      color: #007bff;
    }

    .alert {
      margin-top: 20px;
    }
  </style>
{% endblock %}
